/*
"Julius Sans One", sans-serif;
"Moon Dance", cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagenInicio {
    background-image: url("../assets/vintage.jpg");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size:cover;  
}

.lista{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "lista1 lista2 lista3 lista4 lista5";
    list-style-type: none;
    align-items: center;
    justify-items: center;
}

.lista li a{
    text-decoration: none;
    color: #393E46;
    font-size: 20px;
    font-family: "Julius Sans One", sans-serif;
}

.lista1{
    grid-area: lista1;
}

.lista2{
    grid-area: lista2;
}

.lista3{
    grid-area: lista3;
}

.lista4{
    grid-area: lista4;
}

.lista5{
    grid-area: lista5;
}

#toggle{
    display: none;
}

.logo{
    width: 130px;
}

.logoMenuHamburguesa{
    width: 100px;
    display: none;
}

.menuImagen{
    width: 40px;
    display: none;
}

.foto{
    width: 500px;
}

.footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "telefono instagram mail";
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #393E46;
    font-size: 15px;
    font-family:"Julius Sans One", sans-serif;
}

.telefono{
    grid-area: telefono;
}

.instagram{
    grid-area: instagram;
    text-align: center;
}

.fotoInstagram{
    width: 15%;
}

.mail{
    grid-area: mail;
}

.galeria{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    padding: 50px;
    font-size: 20px;
    font-family: "Julius Sans One", sans-serif;
}

.tamanoCarrousel{
    width: 700px;
}

.yo{
    display: grid;
    width: 100%;
    height: 150vh;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "foto hola"
    "foto texto"
    "foto .";
    align-items: center;
    justify-items: center;
}

.miFoto{
    grid-area: foto;
}

.hola{
    grid-area: hola;
    margin-right: 30px;
}

.texto{
    grid-area: texto;
    background-color: #BDBEC2;
    color: #393E46;
    font-size: 20px;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    margin-right: 30px;
}

.cuadros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "cuadro1 descripcion1"
    "descripcion2 cuadro2";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #393E46;
    font-size: 20px;
    font-family: "Julius Sans One", sans-serif;
    margin-top: 20px;
}

.imagenCuadro1{
    grid-area: cuadro1;
}

.descripcionCuadro1{
    grid-area: descripcion1;
}

.descripcionCuadro2{
    grid-area: descripcion2;
}

.imagenCuadro2{
    grid-area: cuadro2;
}

.imagenCuadro{
    width: 500px;
    padding: 10px;
}

.contacto{
    background-image: url(../assets/luzVerde.jpg);
    opacity: 0.7;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size:cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    grid-template-areas:
    "formulario textoContacto";
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-family: "Julius Sans One", sans-serif;
}

.formulario{
    grid-area: formulario;
    width: 500px;
    height: 300px;
    background-color: #BDBEC2;
}

.cajaFormulario{
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding: 10px;
    margin-left: 10px;
}

.textoContacto{
    grid-area: textoContacto;
    width: 500px;
    height: 200px;
    background-color: #BDBEC2;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.formulario1{
    width: 450px;
    margin: 10px;
}

.formulario2{
    height: 100px;
    width: 450px;
    margin: 10px;
}

.formulario3{
    width: 50px;
    margin-left: 45%;
}

input:focus{
    background-color: black;
    color: white;
}

h2{
    color: black;
    font-size: 15px;
    font-family: "Julius Sans One", sans-serif;
    margin-left: 8px;
}

.parrafoContacto{
    margin: 10%;
}

@media (max-width: 1024px) {
    .formulario{
        width: 400px;
        height: 300px;
    }

    .textoContacto{
        width: 300px;
        height: 300px;
    }

    .formulario1{
        width: 300px;
        margin: 10px;
    }
    
    .formulario2{
        height: 100px;
        width: 300px;
        margin: 10px;
    }
    .texto{
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    nav{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "logo toggle"
        "logo menuImagen"
        "logo lista";
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 10px;
        height: 180px;
    }    
    .lista{ 
        width: 150px; 
        height: 0px; 
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-area: lista;
        margin-right: 10px;
        background-color: white;
        border-radius: 0.4rem;
    }
    .logo{
        display: none;
    }
    .menuImagen { 
        display: inline-flex; 
        color: white; 
        cursor: pointer;
        grid-area: menuImagen;
    } 
    .logoMenuHamburguesa{ 
        display: flex; 
        color: white; 
        cursor: pointer;
        grid-area: logo;
        width: 150px;
        margin-left: 110px;
    } 

    #toggle{ 
        display: inline-flex; 
        color: white; 
        cursor: pointer;
        grid-area: toggle;
        display: none;
    } 

    #toggle:checked ~ .lista{ 
        height: 750%; 
    } 

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer .telefono{
        width: 200px;
        text-align: center;
        padding: 10px;
    }
    
    .footer .instagram{
        width: 200px;
        text-align: center;
        padding: 10px;
    }
    
    .footer .mail{
        width: 200px;
        text-align: center;
        padding: 10px;
    }

    .tamanoCarrousel{
        width: 500px;
    }

    .imagenOpaca{
        width: 450px;
    }

    .yo{
        height: 100vh;
    }

    .foto{
        width: 400px;
    }

    .cuadros{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
        "descripcion1"
        "cuadro1"
        "descripcion2"
        "cuadro2";
        height: 200vh;
        }
        
    .imagenCuadro{
        width: 500px;
    }

    .contacto{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 20px;
    }

    .formulario{
        width: 400px;
        height: 300px;
        margin: 10px;
    }

    .textoContacto{
        font-size: 15px;
        width: 500px;
        height: 150px;
        margin: 10px;
    }
}

@media (max-width: 425px) {
    .lista li a{
        font-size: 15px;
    }
    #toggle:checked ~ .lista{ 
        height: 600%; 
    } 
    .logo{
        width: 80px;
    }

    .tamanoCarrousel{
        width: 350px
    }

    .imagenOpaca{
        width: 350px;
    }

    .yo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    }
    
    .texto{
        margin-left: 30px;
    }

    .foto{
        width: 300px;
    }

    .imagenCuadro{
        width: 400px;
    }

    .cuadros{
        font-size: 15px;
    }

    .formulario{
        width: 350px;
        height: 300px;
        margin: 10px;
    }

    .textoContacto{
        font-size: 15px;
        width: 350px;
        height: 150px;
        margin: 10px;
    }
}
